* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
}

body {
    background-color: #f0f2f5;
    color: #1c1e21;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    height: 800px;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

h1 {
    color: #007bff;
    cursor: pointer;
}

h1:hover {
    animation: swing 1s ease-in-out;
}

@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-20deg);
    }

    40% {
        transform: rotate(20deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.error {
    color: rgba(255, 0, 0, 0.461);
    display: flex;
}